.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}
body {
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
.start {
    margin-top: 2em;
    padding-left: 20em;
    font-size: 1.2em;
}
#globe-container {
    display: flex;
    justify-content: center;
    margin: 3em;
}
#globe {
    animation:10s linear infinite rotation1;
    height: 500px;
}
@keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
  }
