.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}
#username, #mycity {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    align-items: center;
    width: 450px;
}
#username {
    margin-top: 3em;
}
#error-message {
    color: red;
    text-align: center;
}
.login {
    border: 1px solid black;
    padding: 1em;
    margin: 1em;
    margin-top: 3em;
    border-radius: 1em;
    align-items: center;
    width: 150px;
    margin-left: 180px;
    background-color: #B7E000;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 50px;
}
.fields,#create {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}