<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Compare</title>
    </head>
    <body>
        <!-- Latitude {{ arg1 }} !!!!
        Longitude {{ arg2 }} !!!! -->
        Data: <br>
        <!-- index: {{index}} <br>
        first: {{First}} <br> -->
        aqi: {{aqi}} <br>
        category: {{category}} <br>
        dominant: {{dominant}} <br>
        <!-- pollutant: {{pollutant}} <br> -->
        effects: {{effects}} <br>
        children: {{children}} <br>


    </body>
</html>