<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">username</th>
            <th scope="col">city</th>
            <th scope="col">latitude</th>
            <th scope="col">longitude</th>
        </tr>
        </thead>
        {% if not details%}
        <div class="text-center">
            <h3 class="my-5">No Records to Display!</h3>
        </div>
        {% else %}
        <tbody>
        {% for data in details %}
        <tr>
            <th scope="row">{{data.username}}</th>
            <td>{{data.city}}</td>
            <td>₹{{data.latitude}}</td>
            <td>{{data.longitude}}</td>
        </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</body>
</html>