.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 85vh;
}
h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
h2 {
    font-size: 30px;
    margin-top: 30px;
}
#container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#leftside-1, #rightside-1 {
    text-align: center;
}
#airQ1, #airQ2 {
    margin: 0.3em 1em 0.3em 1em;
    border: 1px solid aqua; 
    background-color: aqua;
    border-radius: 70px;
    font-size: 10em;
}
#win-lose {
    text-align: center;
    font-size: 3em;
    color: #FCA100;
    display: inline-block;
    animation: bounce 1s infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
#container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#leftside-2 {
    margin-left: 2em;
    text-align: left;
    display: flex;
    flex-direction: column;
}
#rightside-2 {
    margin-right: 2em;
    text-align: right;
    display: flex;
    flex-direction: column;
}
#container-3 {
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#leftside-3, #rightside-3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.common {
    font-size: 1.2em;
    margin: 1em;
}
.desc {
    border: 1px solid #FFD18E;
    background-color: #FFD18E;
    font-size: 1.2em;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    align-items: center;
    text-align: left;
    width: 450px;
}
.bold {
    font-weight: bold;
}
.pollutant {
    color: blue;
    font-size: 1.5em;
}