h1 {
    position: absolute;
    color: white;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
    text-align: center;
}

#footer {
    bottom: 100%;
}

#map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.popup, button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}